body {
    margin-top: 0px;
    margin-right: 3vw;
    margin-bottom: 0px;
    margin-left: 03vw;
}

.nav-links-container {
    flex-grow: 1; /* Allows the container to take up available space */
    display: flex;
    justify-content: space-around; /* Fixed 'around' to 'space-around' */
}

/* ... rest remains the same ... */


.nav-links-container .nav-link:first-child {
    margin-left: 5vh;
}

.nav-links-container .nav-link:last-child {
    margin-right: 5vh;
}

.nav-link {
    font-family: 'Roboto', sans-serif; /* Added this line */
    font-size: 16px; /* And this line */
}

.navbar-collapse {
    flex-wrap: nowrap;  /* Prevent wrapping to the next line */
}


.header2 {
    display: flex; /* Enables flex context */
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically, if needed */
    flex-wrap: wrap; /* Allows items to wrap if there's not enough horizontal space */
}


.line {
    background-color: lightgrey;  /* Color of the line */
    height: 5px;  /* Thickness of the line */
    width: 50vw;  /* Make it span the full width of the grid area */
    margin: 0 auto; /* Horizontally center the line if it's not the full width of its container */
}


.row.text-center {
    justify-content: center;  /* Horizontally center the columns in the row (Bootstrap 5) */

}

.custom-image-row {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.item-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-container img {
    max-width: 100%;
}

.bordered-content {
    border: 1px solid #ccc; /* Bootstrap's default border color */
    display: inline-block; /* To make the border fit snugly */
}

.mt-custom {
    margin-top: 10vh;  
    margin-bottom: 4vh;
}

.mg-custom2 {
    margin-top: 10vh;  
    margin-bottom: 4vh;
}
.mg-custom3 {
   
    margin-bottom: 4vh;
}

.mg-custom4 {
   
    margin-bottom: 3vh;
}

.mg-custom5 {
   
    margin-bottom: 10vh;
}
.mg-custom6 {
   
    margin-bottom: 10vh;
}

.custom-button {
    background-color: #007BFF;
    color: white;
    border: 2px solid white;
    width: 30%
}

.bordered-section {
    border: 2px solid #ccc; /* Adjust color if needed */
    border-radius: 15px; /* Adjust this value for a more or less rounded effect */
    padding: 10px;
}

.btn-bordered {
    border: 2px solid black; /* Adjust the width (2px) if you want a thicker/thinner border */
}
.custom-width-p {
    width: 20vw;
    text-align: center; /* Optional, to keep the text centered after reducing width */
    margin-bottom: 3vh;
}


.wide-btn {
    min-width: 150px; /* Example min-width, adjust as needed */
    padding: 0.5rem 1rem; /* Adjust padding as needed */
    white-space: nowrap; /* Prevent text from breaking to the next line */
    overflow: hidden; /* Hide overflowed content */
    text-overflow: ellipsis; /* Add ... for overflowed content */
}


.wide-btn2 {
    width: 150px;
}

.header2 {
    display: flex;
    justify-content: center; /* Center content horizontally */
    flex-wrap: wrap; /* Allow content to wrap into a new line on smaller screens */
    gap: 1rem; /* Gap between the spans */
}

.focus img, .header-side img {
    max-width: 100%; /* Ensure images don't overflow their container */
    height: auto; /* Maintain the aspect ratio */
}

/* For smaller screens, e.g., tablets and mobile devices */
@media (max-width: 768px) {
    .focus, .header-side {
        width: 100%; /* Make each span take the full width on smaller screens */
    }
}

.wide-button{
    min-width: 100px; /* Example min-width, adjust as needed */
    padding: 0.5rem 1rem; /* Adjust padding as needed */
    white-space: nowrap; /* Prevent text from breaking to the next line */
    overflow: hidden; /* Hide overflowed content */
    text-overflow: ellipsis; /* Add ... for overflowed content */
}

