body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.nav-links-container {
    flex-grow: 1; /* Allows the container to take up available space */
    display: flex;
    justify-content: space-around; /* Fixed 'around' to 'space-around' */
}

/* ... rest remains the same ... */


.nav-links-container .nav-link:first-child {
    margin-left: 5vh;
}

.nav-links-container .nav-link:last-child {
    margin-right: 5vh;
}

.nav-link {
    font-family: 'Roboto', sans-serif; /* Added this line */
    font-size: 16px; /* And this line */
}

.navbar-collapse {
    flex-wrap: nowrap;  /* Prevent wrapping to the next line */
}


.header2 {
    display: flex; /* Enables flex context */
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically, if needed */
    flex-wrap: wrap; /* Allows items to wrap if there's not enough horizontal space */
}


.line {
    background-color: lightgrey;  /* Color of the line */
    height: 5px;  /* Thickness of the line */
    width: 50vw;  /* Make it span the full width of the grid area */
    margin: 0 auto; /* Horizontally center the line if it's not the full width of its container */
}


.row.text-center {
    justify-content: center;  /* Horizontally center the columns in the row (Bootstrap 5) */

}

.custom-image-row {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.item-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-container img {
    max-width: 100%;
}

.bordered-content {
    border: 1px solid #ccc; /* Bootstrap's default border color */
    display: inline-block; /* To make the border fit snugly */
}

.mt-custom {
    margin-top: 10vh;  /* adjust this value based on your requirements */
}

